/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover
{
    color: white;
    text-decoration : none;
}

html,
body
{
    height: 100%;
    background-image: url("../images/fond_index.jpg") ; 
    background-size: cover; /* version standardisée */
    font-family: 'Open Sans';
    color: white;
    font-size: 24px;

}
body {
  color: #fff;
  text-align: justify;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

p
{
	text-align : justify;	
	margin: 8px;
}

footer 
{
	text-align: center;
	/*border-top: 2px solid #f0f0f5;*/	
	margin-top: 15px;
        font-size: 16px;
        bottom: 0;
}

.btn
{
	display : inline-block;
	margin-left: 43%;
}
@media (min-width: 980px) /* ORDINATEUR */
{
	
	
	#menu a /* les liens du menu */
	{
        font-family: 'Lato', sans-serif;
	   color:  white;
		text-decoration:none;
		font-size : 24px;
		padding-left: 15px;
		padding-left: 15px;
	}

 	.dropbtn /* ne pas afficher le bouton et le texte de la version mobile quand on est sur PC */
	{
		display: none;
		right: 0px;
	}

	#menu /* le menu a une marge de 20% par rapport Ã  la gauche */
	{
		vertical-align:middle;
		margin-right: 23%;
		padding-bottom : 150px;

	}

	
}

/* MENU AUTE QUE ORDINATEUR : tÃ©lÃ©phones, tablettes... */
@media (max-width: 980px)
{
	.dropbtn{
		text-align: left;
	}
	
	.dropdown 
	{
		position: relative;
		width: 200px;
	}
	
	.dropdown p /* l'image du menu et le texte */
	{
		display: inline-block; /* sont cote Ã  cote */
		color:  black;
		padding-left: 20px;
	}

	.dropdown-content/* ce qui descend */
	{
		display: none;
/* 		margin-right: 0%; */
		min-width: 150px;
		background-color: white; /* la couleur du fond du menu qui descend */
	}

	.dropdown-content a /* le texte du menu */
	{
		color: rgb(255,255,255,0.5);
		padding: 5px 6px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover /* la case du texte du men uquand on passe dessus */
	{
		background-color:  #ffcccc
	}

	.dropdown:hover .dropdown-content 
	{
		display: block;
	}
}
/* ----------------------------------------------------------------------------------- */ 

.site-wrapper-inner {
  display: table-cell;
}


/* Padding for spacing */
.inner {
	size: 100%;
   padding: 10px;
  color : white;
  text-align: center;
}
.cover .btn-lg {
  padding: 10px 10 10 10px;
  font-weight: bold;
  }



/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #f2f2f2;
  border: 1px solid;
  text-align: center;
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  /*width: 200%;*/
  size: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 150%;
   -webkit-box-shadow: inset 0 0 500px rgba(0,0,0,1);
          box-shadow: inset 0 0 500px rgba(0,0,0,1); 
	margin-left: 0%;
}
.site-wrapper-inner {
/*   display: table-cell;
 */  width: 100%;
  size: 100%;
}
.cover-container {
 margin-left:15%;
}

/* Padding for spacing */
.inner cover {
	margin-left:20%;

}






/*
 * Cover
 */
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}



.mastfoot {
  color: #999; /* IE8 proofing */
color: rgba(255,255,255,.5);
margin-left: 30%;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {

.site-wrapper-inner {
/*     vertical-align: middle;
 */	size : 90%;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}