/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 nov. 2016, 21:50:53
    Author     : Axel
*/

body
{
    height: 100%;
    background-image: url("../images/fond_index.gif") ; 
    background-size: cover; /* version standardisée */
    font-family: 'Open Sans';
    color: white;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

a
{
    color: white;
    text-decoration: none;
}

a:hover, a:focus
{
    color: gray;
    text-decoration: none;
}

nav
{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 15px 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

form
{
    padding: 20px;
}

footer
{
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px 15px 0px 0px;
    /*position: absolute;*/
    bottom: 0px;
    overflow: hidden;
    text-align: center;
}

.container
{
    height: 100%;
    background-color: rgba(200, 200, 200, 0.25);
}

.site-wrapper
{
    /* ombre */
    -moz-box-shadow: inset 0px 0px 200px 50px #343434;
    -webkit-box-shadow: inset 0px 0px 200px 50px #343434;
    -o-box-shadow: inset 0px 0px 200px 50px #343434;
    box-shadow: inset 0px 0px 200px 50px #343434;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=NaN, Strength=200);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(52, 52, 52, 0.5);
    
    /*min-height: 80%;*/
    
    
    margin-top: 30vh;
    margin-bottom: 30vh;
   
}

.btn
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control
{
    margin-top: 10px;
    margin-bottom: 10px;
}