<?xml version = "1.0" encoding="UTF-8" standalone="yes" ?>
<routes>
	<!-- Module Home -->
	<route url="/" module="Home" action="index"/>

	<!-- Module User -->
	<route url="/user" module="User" action="index"/>
	<route url="/connection-request" module="User" action="connectionRequest"/>
	<route url="/register" module="User" action="registration"/>
	<route url="/connect" module="User" action="connection"/>
	<route url="/disconnect" module="User" action="disconnection"/>
	<route url="/advice" module="User" action="advice"/>
	<route url="/add-advice" module="User" action="addAdvice"/>
	<route url="/vote-([0-1])-([0-9]+)" module="User" action="vote" params="pouce,numAvis"/>
	<route url="/report-advice" module="User" action="report"/>
	<route url="/favorite-products" module="User" action="favoriteProducts"/>
	<route url="/favorite-products-([0-9]+)" module="User" action="editFavoriteProducts" params="numProduit"/>

	<!-- Module Sale -->
	<route url="/menu" module="Sale" action="index"/>
	<route url="/cart" module="Sale" action="cart"/>
	<route url="/contact" module="Sale" action="contact"/>
	<route url="/search" module="Sale" action="search"/>
	<route url="/get-cart-infos" module="Sale" action="cartInfos"/>

	<!-- Module Payment -->
	<route url="/commands" module="Payment" action="commands"/>
	<route url="/command-([0-9]+)" module="Payment" action="command" params="commandNo"/>
	<route url="/command-recap" module="Payment" action="commandRecap"/>
	<route url="/paypal-payment" module="Payment" action="paypalPayment"/>
	<route url="/paypal-return" module="Payment" action="paypalReturn"/>
	<route url="/paypal-cancel" module="Payment" action="paypalCancel"/>

	<!-- Module Administration -->
	<route url="/administration(?:-(add|edit|delete))?" module="Administration" action="index" params="action"/>
	<route url="/get-products?-admin" module="Administration" action="productsAdmin"/>
	<route url="/search-pseudo" module="Administration" action="searchPseudo"/>
	<route url="/edit-admin" module="Administration" action="editAdmin"/>
	<route url="/delete-comment" module="Administration" action="deleteComment"/>
	<route url="/edit-comment" module="Administration" action="editComment"/>
	<route url="/edit-paypal-params" module="Administration" action="editPaypalParameters"/>
	<route url="/get-reports" module="Administration" methode="reports"/>

	<!--
	<route url="/modifMdpUser" controleur="utilisateur" methode="modifierMdp"/>
	<route url="/modifPseudoUser" controleur="utilisateur" methode="modifierPseudo"/>
	-->
</routes>
