<?xml version = "1.0" encoding="UTF-8" standalone="yes" ?>
<routes>
	<!-- Module Home -->
	<route url="/" module="Home" action="index"/>

	<!-- Module User -->
	<route url="/user" module="User" action="index"/>
	<route url="/connection-request" module="User" action="connectionRequest"/>
	<route url="/register" module="User" action="registration"/>
	<route url="/connect" module="User" action="connection"/>
	<route url="/disconnect" module="User" action="disconnection"/>
	<route url="/advice" module="User" action="advice"/>
	<route url="/add-advice" module="User" action="addAdvice"/>
	<route url="/vote-([0-1])-([0-9]+)" module="User" action="vote" params="pouce,numAvis"/>
	<route url="/report-advice" module="User" action="report"/>

	<!-- Module Sale -->
	<route url="/menu" module="Sale" action="index"/>
	<route url="/cart" module="Sale" action="cart"/>
	<route url="/contact" module="Sale" action="contact"/>
	<route url="/search" module="Sale" action="search"/>
	<route url="/get-cart-infos" module="Sale" action="cartInfos"/>

	<!-- Module Payment -->
	<route url="/commands" module="Payment" action="commands"/>
	<route url="/command-([0-9]+)" module="Payment" action="command" params="commandNo"/>
	<route url="/payment" module="Payment" action="payment"/>

	<!--
	<route url="/modifMdpUser" controleur="utilisateur" methode="modifierMdp"/>
	<route url="/modifPseudoUser" controleur="utilisateur" methode="modifierPseudo"/>

	Produits favoris
	<route url="/produits-favoris" controleur="produitFavoris" methode="afficherProduitFavoris"/>
	<route url="/produits-favoris-([0-9]+)" controleur="produitFavoris" methode="modifProduitFavoris" params="numProduit"/>

	Paiement paypal !
	<route url="/paiement" controleur="commande" methode="recapCommande"/>
	<route url="/paiement-paypal" controleur="paypal" methode="paiementPaypal"/>
	<route url="/annule-paypal" vue="annulePaypal"/>
	<route url="/retour-paypal" controleur="paypal" methode="retourPaypal"/>

	Administration
	<route url="/administration(?:-(ajout|modification|suppression))?" controleur="admin" methode="administrer" params="action"/>
	<route url="/get-produits?-admin" controleur="admin" methode="getProduitAdmin"/>
	<route url="/rechercher-pseudo" controleur="admin" methode="rechercherPseudo"/>
	<route url="/modifier-admin" controleur="admin" methode="modifAdmin" />
	<route url="/deleteCommentaire" controleur="admin" methode="deleteCommentaire" />
	<route url="/modifCommentaire" controleur="admin" methode="modifCommentaire" />
	<route url="/modifParamsPaypal" controleur="admin" methode="modifierParametresPaypal" />
	<route url="/get-signalement" controleur="admin" methode="getSignalements"/>
	-->
</routes>
